{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Contáctanos{% endblock %}{% endblock %}{% endblock %}
{% block content %}

      <!-- Get in Touch-->
      <section class="section section-md bg-white text-center">
        <div class="shell">
          <div class="range range-md-center">
            <div class="cell-md-11 cell-lg-10">
              <h2 class="text-bold">Póngase en contacto con nosotros</h2>
              <p><span class="box-width-2">Puede escribirnos a travez de las redes sociales, whatsapp o puede usar este corto formulario para preguntar acerca de nuestros servicios, proyectos o productos.</span></p>
              <div class="layout-columns">
                <div class="layout-columns__main">
                  <div class="layout-columns__main-inner">
                    <!-- RD Mailform-->
                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-date" type="text" data-time-picker="date" name="date" data-constraints="@Required">
                        <label class="form-label" for="contact-date">Fecha de reunión</label>
                      </div>
                      <div class="form-wrap">
                        <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="contact-name">Su nombre</label>
                      </div>
                      <div class="form-wrap">
                        <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                        <label class="form-label" for="contact-email">E-mail</label>
                      </div>
                      <div class="form-wrap">
                        <label class="form-label" for="contact-message">Su mensaje</label>
                        <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                      </div>
                      <div class="form-wrap form-button offset-1">
                        <button class="button button-block button-primary-outline button-ujarak" type="submit">Enviar mensaje</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="layout-columns__aside">
                  <div class="layout-columns__aside-item">
                    <p class="heading-5">Redes Sociales</p>
                    <div class="divider-modern"></div>
                    <ul class="list-inline-xs">
                      {% if LINK_FACEBOOK %}
                      <li><a class="icon icon-md icon-gray-7 fa fa-facebook" href="{{LINK_FACEBOOK}}"></a></li>
                      {% endif %}
                      {% if LINK_TWITTER %}
                      <li><a class="icon icon-md icon-gray-7 fa fa-twitter" href="{{LINK_TWITTER}}"></a></li>
                      {% endif %}
                      {% if LINK_GOOGLE %}
                      <li><a class="icon icon-md icon-gray-7 fa fa-google" href="{{LINK_GOOGLE}}"></a></li>
                      {% endif %}
                      {% if LINK_INSTAGRAM %}
                      <li><a class="icon icon-md icon-gray-7 fa fa-instagram" href="{{LINK_INSTAGRAM}}"></a></li>
                      {% endif %}
                      {% if request.user.is_staff %}
                      <li><a class="icon icon-md icon-gray-7 fa fa-edit" href="/admin/social/link/"></a></li>
                      {% endif %}
                    </ul>
                  </div>
                  <div class="layout-columns__aside-item">
                    <p class="heading-5">Teléfonos</p>
                    <div class="divider-modern"></div>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit__left"><span class="icon icon-md icon-primary material-icons-local_phone"></span></div>
                      <div class="unit__body"><a href="tel:#">1-800-1234-567</a></div>
                    </div>
                  </div>
                  <div class="layout-columns__aside-item">
                    <p class="heading-5">Dirección</p>
                    <div class="divider-modern"></div>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit__left"><span class="icon icon-md icon-primary material-icons-location_on"></span></div>
                      <div class="unit__body"><a href="#">267 Park Avenue New York, NY 90210</a></div>
                    </div>
                  </div>
                  <div class="layout-columns__aside-item">
                    <p class="heading-5">Horario</p>
                    <div class="divider-modern"></div>
                    <div class="unit unit-horizontal unit-spacing-xxs">
                      <div class="unit__left"><span class="icon icon-md icon-primary mdi mdi-clock"></span></div>
                      <div class="unit__body"><span>Trabajamos todos los dias 9:00–23:00</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}