{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Inicio{% endblock %}{% endblock %}{% endblock %}
{% block content %}
      {% load photos_carousel %}
      {% get_photo_list as photo_list %}
      <!-- My Best Photos -->
      <section class="section text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
          <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="true" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
            {% for photo in photo_list %}
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{{photo.photo.url}}" data-lightgallery="item"><img class="thumb-ann__image" src="{{photo.photo.url}}" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">{{photo.title}}</p>
                      <p class="thumb-ann__text">{{photo.content|striptags|safe|truncatechars:"200"}}</p>
                    </div></a>
                </div>
              </div>
            </div>
            {% endfor %}            
          </div>
        </div>
      </section>

      <!-- About Me-->
      <section class="section section-md bg-white">
        <div class="shell">
          <div class="range range-50 range-sm-center range-md-left">
            <div class="cell-sm-6 cell-md-5">
              <div class="thumb-bordered"><img src="{% static 'core/images/mt_public.png' %}" alt="" width="437" height="435"/>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-7">
              <div class="box-width-3 box-centered">
                <article class="quote-big">
                  <p class="q">Comprometidos a darte el mejor servicio en desarrollo y diseño.</p>
                </article>
                <div class="divider"></div>
                <p class="text-spacing-05">Nuestro equipo de trabajo completamente capacitados en su rama, desarrolladores, diseñadores, producción audiovisual trabajando juntos para darte la mejor solución.</p>
                <div class="group-3-columns" data-lightgallery="group">
                  <div class="column-item"><a class="thumb-light" href="{% static 'core/images/prof1.jpg' %}" data-lightgallery="item"><img src="{% static 'core/images/prof1.jpg' %}" alt="" width="120" height="171"/>
                      <div class="thumb-light__overlay"></div></a></div>
                  <div class="column-item"><a class="thumb-light" href="{% static 'core/images/prof2.jpg' %}" data-lightgallery="item"><img src="{% static 'core/images/prof2.jpg' %}" alt="" width="120" height="171"/>
                      <div class="thumb-light__overlay"></div></a></div>
                  <div class="column-item"><a class="thumb-light" href="{% static 'core/images/prof3.jpg' %}" data-lightgallery="item"><img src="{% static 'core/images/prof3.jpg' %}" alt="" width="120" height="171"/>
                      <div class="thumb-light__overlay"></div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}