{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Productos{% endblock %}{% endblock %}{% endblock %}
{% block content %}

<!-- Products -->
      <section class="section section-md bg-gray-lighter text-center">
        <div class="shell">
          <div class="range range-30">
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay="0s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <div class="row">
                  <div class="col-sm-12 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'core/images/gallery-image-1-1200x800-original.jpg' %}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'core/images/gallery-image-1-440x327.jpg' %}" alt="" width="440" height="327"/>
                    <div class="thumb-ruby__caption"> 
                      <p class="thumb-ruby__title heading-3">Image #</p>
                      <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.</p>
                    </div></a>
                  </div>
                </div>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title"><a href="#">Precio: $100.00</a></h3>
                </div>                
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay="0.15s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <div class="row">
                  <div class="col-sm-12 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'core/images/gallery-image-1-1200x800-original.jpg' %}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'core/images/gallery-image-1-440x327.jpg' %}" alt="" width="440" height="327"/>
                    <div class="thumb-ruby__caption"> 
                      <p class="thumb-ruby__title heading-3">Image #</p>
                      <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.</p>
                    </div></a>
                  </div>
                </div>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title"><a href="#">Precio: $100.00</a></h3>
                </div>                
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay="0.3s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <div class="row">
                  <div class="col-sm-12 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'core/images/gallery-image-1-1200x800-original.jpg' %}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'core/images/gallery-image-1-440x327.jpg' %}" alt="" width="440" height="327"/>
                    <div class="thumb-ruby__caption"> 
                      <p class="thumb-ruby__title heading-3">Image #</p>
                      <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.</p>
                    </div></a>
                  </div>
                </div>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title"><a href="#">Precio: $100.00</a></h3>
                </div>                
              </article>
            </div>
          </div>
        </div>
      </section>

{% endblock %}