{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Productos{% endblock %}{% endblock %}{% endblock %}
{% block content %}

<!-- Blog-->
      <section class="section section-md bg-gray-lighter text-center">
        <div class="shell">
          <p class="heading-1">Informática</p>
          <div class="range range-30">
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall">
              <!-- Post boxed-->
              <article class="post-boxed">
                <ul class="post-boxed__meta">
                  <li>
                    <time datetime="2019">Jul 20, 2019</time>
                  </li>
                  <li><a href="#">3 comments</a></li>
                </ul>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title"><a href="#">Becoming a King and Queen for a Day</a></h3>
                  <p>For one day, the two of you are the focus of attention. The concerns of the world slip away as your...</p>
                </div>
                <div class="post-boxed__aside">
                  <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                    <div class="unit__left"><img class="post-boxed__avatar" src="{% static 'core/images/user-6-46x46.jpg' %}" alt="" width="46" height="46"/>
                    </div>
                    <div class="unit__body">
                      <h6 class="text-uppercase">by Susan Parker</h6>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".15s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <ul class="post-boxed__meta">
                  <li>
                    <time datetime="2019">Jul 15, 2019</time>
                  </li>
                  <li><a href="#">3 comments</a></li>
                </ul>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title"><a href="#">How to Make Great Wedding Photos</a></h3>
                  <p>Today I’m going to answer the question that my clients ask almost after every photo shoot. It’s a question...</p>
                </div>
                <div class="post-boxed__aside">
                  <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                    <div class="unit__left"><img class="post-boxed__avatar" src="{% static 'core/images/user-6-46x46.jpg' %}" alt="" width="46" height="46"/>
                    </div>
                    <div class="unit__body">
                      <h6 class="text-uppercase">by Susan Parker</h6>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".3s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <ul class="post-boxed__meta">
                  <li>
                    <time datetime="2019">Jul 5, 2019</time>
                  </li>
                  <li><a href="#">3 comments</a></li>
                </ul>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title"><a href="#">5 Most Exotic Weddings</a></h3>
                  <p>Do you want to know where your wedding will be the most unforgettable? Read this post and you’ll find...</p>
                </div>
                <div class="post-boxed__aside">
                  <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                    <div class="unit__left"><img class="post-boxed__avatar" src="{% static 'core/images/user-6-46x46.jpg' %}" alt="" width="46" height="46"/>
                    </div>
                    <div class="unit__body">
                      <h6 class="text-uppercase">by Susan Parker</h6>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

{% endblock %}