{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Carrusel de imágenes{% endblock %}{% endblock %}{% endblock %}
{% block content %}

      <!-- My Best Photos -->
      <section class="section text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
          <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="true" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
            {% for photo in photo_list %}
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'core/images/group-image-4-1200x800-original.jpg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'core/images/home1-1-961x664.jpg' %}" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">{{photo.title}}-{{photo.image.url}}</p>
                      <p class="thumb-ann__text">{{photo.content|striptags|safe|truncatechars:"200"}}</p>
                    </div></a>
                </div>
              </div>
            </div>
            {% endfor %}            
          </div>
        </div>
      </section>

{% endblock %}