{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Modificar producto{% endblock %}{% endblock %}{% endblock %}
{% block banner %}collagephotos.jpeg{% endblock %}{% comment %} breadcrumbs-image.jpg {% endcomment %}
{% block content %}
{% include "products/include/product_menu.html" %}
  <!-- Book Your Photo Shoot-->
  <section class="section section-md bg-white">
    <div class="shell">
      <div class="range range-50 range-sm-center range-md-left range-md-reverse range-md-middle">
        <div class="cell-sm-10 cell-md-2 wow fadeInRight">
          <div class="box-width-4 box-centered">
            {% if 'ok' in request.GET %}
            <p style="color:green">
            <a href="{% url 'product' product.id product.title|slugify %}"> Producto actualizado</a>
            </p>
            {% endif %}
            <p>Para una mejor visualización agrega una fotografia con buena resolución</p>
          </div>
        </div>
        <div class="cell-sm-10 cell-md-10 wow fadeInLeft">
          <article class="box-line"><span></span><span></span><span></span><span></span>
            <div class="">
              <!-- RD Mailform-->
              <form class="rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-wrap">
                  {{ form.as_p }}
                </div>
                <div class="form-wrap form-button offset-1">
                  <input class="button button-block button-primary-outline button-ujarak" type="submit" value="Actualizar">
                </div>
              </form>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock %}