{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Iniciar sesión{% endblock %}{% endblock %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section class="section section-md bg-white text-center">
  <div class="shell">
    <div class="range range-md-center">
      <div class="cell-md-11 cell-lg-10">
      {% if form.non_field_errors %}
        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
      {% endif %}
      {% if 'ok' in request.GET %}
      <p style="color:green">
      Se ha registrado correctamente
      </p>
      {% endif %}
      <div class="layout-columns">
        <div class="layout-columns__main">
          <div class="layout-columns__main-inner">
            <!-- RD Mailform-->
            <form class="" data-form-output="form-output-global" data-form-type="contact" method="post">{% csrf_token %}
              <div class="form-wrap">
                <input class="form-input" id="id_username" type="text" name="username" autofocus maxlength="254" data-constraints="@Required">
                <label class="form-label" for="id_username">Usuario</label>
              </div>
              <div class="form-wrap">
                <input class="form-input" id="id_password" type="password" name="password" data-constraints="@Required">
                <label class="form-label" for="id_password">Contraseña</label>
              </div>
              <div class="form-wrap">
                <a href="{% url 'password_reset' %}">¿Olvido su contraseña?</a>
              </div>
              <div class="form-wrap form-button offset-1">
                <button class="button button-block button-primary-outline button-ujarak" type="submit">Iniciar Sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}