{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Restablecer contraseña{% endblock %}{% endblock %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section class="section section-md bg-white text-center">
  <div class="shell">
    <div class="range range-md-center">
      <div class="cell-md-11 cell-lg-10">
        <h2 class="text-bold">¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</h2>
      <div class="layout-columns">
        <div class="layout-columns__main">
          <div class="layout-columns__main-inner">
            <!-- RD Mailform-->
            <form class="" data-form-output="form-output-global" data-form-type="contact" method="post">{% csrf_token %}
              {{ form.email.errors }}
              <div class="form-wrap">
                <input class="form-input" id="id_email" type="email" name="email" data-constraints="@Required">
                <label class="form-label" for="id_email">E-mail</label>
              </div>
              <div class="form-wrap form-button offset-1">
                <button class="button button-block button-primary-outline button-ujarak" type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}