{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Restablecimiento de contraseña enviado{% endblock %}{% endblock %}{% endblock %}
{% block content %}

<section class="section section-md bg-white text-center">
  <div class="shell">
    <div class="range range-md-center">
      <div class="cell-md-11 cell-lg-10">
      <h2 class="text-bold">Restablecimiento de contraseña enviado</h2>
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
      </div>
    </div>
  </div>

{% endblock %}