{% extends 'core/base.html' %}
{% load static %}
{% block title2 %}{% block title1 %}{% block title %}Restablecimiento de contraseña completado{% endblock %}{% endblock %}{% endblock %}
{% block content %}

<section class="section section-md bg-white text-center">
  <div class="shell">
    <div class="range range-md-center">
      <div class="cell-md-11 cell-lg-10">
      <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
      <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
      </div>
    </div>
  </div>

{% endblock %}